{% extends 'store/Main.html' %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="col-lg-6">
            <div class="box-element" id="form-wrapper">
                <form id="form">
                    <div id="user-info">
                        <div class="form-field">
                            <input required class="form-control" type="text" name="name" placeholder="Name..">
                        </div>
                        <div class="form-field">
                            <input required class="form-control" type="email" name="email" placeholder="Email..">
                        </div>
                    </div>
                    
                    <div id="shipping-info">
                        <hr>
                        <p>Shipping Information:</p>
                        <hr>
                        <div class="form-field">
                            <input class="form-control" type="text" name="address" placeholder="Address..">
                        </div>
                        <div class="form-field">
                            <input class="form-control" type="text" name="city" placeholder="City..">
                        </div>
                        <div class="form-field">
                            <input class="form-control" type="text" name="state" placeholder="State..">
                        </div>
                        <div class="form-field">
                            <input class="form-control" type="text" name="zipcode" placeholder="Zip code..">
                        </div>
                        <!-- <div class="form-field">
                            <input class="form-control" type="text" name="country" placeholder="Zip code..">
                        </div> -->
                    </div>

                    <hr>
                    <input id="form-button" class="btn btn-success btn-block" type="submit" value="Continue">
                </form>
            </div>

            <br>
            <div class="box-element hidden" id="payment-info">
                <small>Paypal Options</small>
            </div>
            
        </div>

        <div class="col-lg-6">
            <div class="box-element">
                <a  class="btn btn-outline-dark" href="{% url 'cart' %}">&#x2190; Back to Cart</a>
                <hr>
                <h3>Order Summary</h3>
                <hr>
                {% for item in items %}
                <div class="cart-row">
                    <div style="flex:2"><img class="row-image" src="{{item.product.imageUrl }}"></div>
                    <div style="flex:2"><p>{{item.product.name}}</p></div>
                    <div style="flex:1"><p>{{item.product.price|floatformat:0}}Tk</p></div>
                    <div style="flex:1"><p>x{{item.quantity }}</p></div>
                </div>
                {% endfor %}
                <h5>Items:   {{order.get_cart_items}}</h5>
                <h5>Total:   {{order.get_cart_total|floatformat:0}}TK</h5>
            </div>
        </div>
    </div>


<script type="text/javascript">
    var shipping = '{{order.shipping}}';
    var total = '{{order.get_cart_total}}';

    if (shipping == 'False') {
        document.getElementById('shipping-info').innerHTML = '';
    }

    if (user != 'AnnonymousUser') {
        document.getElementById('user-info').innerHTML = '';
    }

    document.getElementById('form-button').addEventListener('click', function (e) {
        submitFormData();
    });

    function submitFormData() {
        console.log('Product has been purchased!');
        var form = document.getElementById('form'); // Get the form element

        var userFormData = {
            'name': null,
            'email': null,
            'total': total
        };

        var shippingInfo = {
            'address': null,
            'city': null,
            'state': null,
            'zipcode': null,
        };

        if (shipping != false) {
            shippingInfo.address = form.elements['address'].value; // Update field name references
            shippingInfo.city = form.elements['city'].value;
            shippingInfo.state = form.elements['state'].value;
            shippingInfo.zipcode = form.elements['zipcode'].value;
        }

        if (user == 'AnonymousUser') {
            userFormData.name = form.elements['name'].value; // Update field name references
            userFormData.email = form.elements['email'].value;
        }
        
        console.log('Shipping Info:', shippingInfo)
	   	console.log('User Info:', userFormData)

        var url = '/process_order/';
        fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken,
            },
            body: JSON.stringify({ 'form': userFormData, 'shipping': shippingInfo })
        })
            .then((response) => response.json())
            .then((data) => {
                console.log('Success', data);
                alert('Transaction Completed');
                window.location.href = "{% url 'store' %}";
            });
    }
</script>
<!-- ... -->



<!-- {% comment %} <script type="text/javascript">
    var shipping = '{{order.shipping}}'
    var total = '{{order.get_cart_total}}'
    if (shipping == 'False'){
        document.getElementById('shipping-info').innerHTML = ''
    }
    if (user != 'AnnonymousUser'){
        document.getElementById('user-info').innerHTML=  ''
    }

    document.getElementById('form-button').addEventListener('click', function(e){
        submitFormData()
    })

    function submitFormData() {
        console.log('Product has been purchased!');
        var form = document.getElementById('form'); // Get the form element
    
        var userFormData = {
            'name': null,
            'email': null,
            'total': total
        };
    
        var shippingInfo = {
            'address': null,
            'city': null,
            'state': null,
            'zipcode': null,
        };
    
        if (shipping != false) {
            shippingInfo.address = form.elements['address'].value; // Update field name references
            shippingInfo.city = form.elements['city'].value;
            shippingInfo.state = form.elements['state'].value;
            shippingInfo.zipcode = form.elements['zipcode'].value;
        }
        if (user == 'AnonymousUser') {
            userFormData.name = form.elements['name'].value; // Update field name references
            userFormData.email = form.elements['email'].value;
        }
    
        var url = '/process_order/';
        fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken,
            },
            body: JSON.stringify({ 'form': userFormData, 'shipping': shippingInfo })      
        })
            .then((response) => response.json())
            .then((data) => {
                console.log('Success', data);
                alert('Transaction Completed');
                window.location.href = "{% url 'store' %}";
            });
    }
</script> {% endcomment %} -->


<!-- <div id="success-message" style="display:none;">Product purchased successfully!</div> -->

<!-- <script>
    // Get the form and button elements
    const form = document.querySelector('form');
    const button = document.querySelector('#form-button');
    
    // Add a click event listener to the button
    button.addEventListener('click', (event) => {
      // Prevent the default form submission behavior
      event.preventDefault();
      
      // Submit the form using AJAX
      const xhr = new XMLHttpRequest();
      xhr.open(form.method, form.action);
      xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
      xhr.onload = () => {
        // If the request was successful, display the success message and redirect to the home page
        if (xhr.status === 200) {
          const successMessage = document.querySelector('#success-message');
          successMessage.style.display = 'block';
          setTimeout(() => { 
            window.location.href = ''; // Change this to the URL of your home page
          }, 3000); // Change this to the number of milliseconds you want to wait before redirecting
        }
      };
      xhr.send(new FormData(form));
    });
</script> --> -->

{% endblock content %}
